# Created by .ignore support plugin (hsz.mobi)
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

locustfile.pyc

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

.idea/eb-locustio-sample.iml

__pycache__